// @font-face {
//     font-family: Doppelganger;
//     src: url("/news/src/fonts/Doppelganger.otf")
//   }

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');


$title: 'Berkshire Swash', cursive;

$title2: 'Viaoda Libre', cursive; 

$title3: 'Doppelganger'