@import "../../sass/colors.scss";
@import "../../sass/widths.scss";
@import "../../sass/fonts.scss";
.header {
  display: flex;
  height: 80px;
  padding: 2em;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 8px -3px rgba(0, 0, 0, 0.75);
  a {
    all: unset;
    margin-left: 1em;
    color: $black;
    cursor: pointer;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    .logo {
      position: absolute;
      left: 50%;
      width: auto;
      height: 80px;
      margin-right: 2em;
      transform: translateY(-50%) translateX(-65%);
    }
  }
}

@media (max-width: 680px) {
  .header {
    height: 40px;
  }
}
